.section5 {
    background-color: #374B5A;
}

.RecBox {
    width:90%;
    border: 6px double white;
    margin: 5%;
    
    @media (max-width:460px){
        width: 90%;
        margin: 5%;
    }
    
    @media (min-width:900px){
        width: 900px;
        height: 100%;
        margin: 5% auto;
    }
    
    .row {
        height: 100%;
    }
    
    h1 {
        font-size: 20px;
    }
}

.RecImg {
    height: 70%;
    margin: 6% auto;
}

.RecList{
    height: 70%;
    
    .cakeList{
        height: 33%;
    }
    
    .fillingList{
        height: 33%;
    }
    
    .frostingList{
        height: 33%;
    }
    
}

.instBox{
    height: 30%;
    margin: 4%;
    line-height: 25px;

    .cakeInst{
        height: 33%;
    }

    .fillingInst{
        height: 33%;
    }

    .frostingInst{
        height: 33%;
    }
}

.newBckg {
    background-color: #374B5A;
}