.section2 {
    background-image: url(../images/galaxymini.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    
    .cupcake {
        border-color: white;
    }
    
    .row:last-child {
        margin-bottom: -10px;
    }
}


.section2-title {
    font-size: 19px;
    color: white;
    width: 100%;
    height: 40px;
    border-bottom: 4px double white;
    border-top: 4px double white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}


.cupcakeFilling {
    width: 120px;
    height: 140px;
    border: 7px solid white;
    border-radius: 50%;
    margin: 15% auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.secondBox {
    height: 100%;
    transform: rotate(180deg);
    margin-top: -10px;
    display: flex;
    align-items: flex-end;
    
    @media (max-width:725px){
        transform: rotate(270deg);
        margin-left: 4%;
        float: none;
        justify-content: center;
        width: 100%;
        position: relative;
        left: 10%;
        
    }
    
    .spoonBox {
        @media (max-width:725px){
            width:23.33%
        } 
    }
}

.spoonInfo {
    height: 35px;
    transform: rotate(180deg);
    margin: 12px auto;
    font-size: 20px;
    text-align: center;
     
    
    @media (max-width:725px){
        transform: rotate(90deg);
    }
}

.spoonSelect {
    height: 35px;
    width: 100px;
    border: 4px double white;
    transform: rotate(180deg);
    margin: 12px auto;
    font-size: 20px;
    text-align: center;
    padding: 4px;
    
    @media (max-width:725px){
        transform: rotate(90deg);
        margin-bottom: 30%;
    }
}

.spoonTop {
    width: 80px;
    height: 120px;
    border: 5px solid white;
    margin: 12px auto;
    border-radius: 78% 78% 65% 65%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 7px 0px 25px #000;
}
 

.spoonBottom {
    width: 6px;
    height: 143px;
    border: 3px solid white;
    background-color: white;
    margin: auto;
    margin-top: -12px;
    
        @media (max-width:725px){
            height:316px;
        }
}

.cherry {
    background-image: url(../images/cherry.jpg);  
}

.peanut {
    background-image: url(../images/peanut.jpg); 
}

.whitechoc {
    background-image: url(../images/whitechoc.jpg);
}




